.text-center{
    /* margin: 50vw;
    height: 10vh; */
    background: black;
    color: azure;
    text-align: center;
    font-family: 'Arvo', serif;
}
/* .btn{
    display:flex;
height: 5vh;
align-items: center;

} */